In [2]:
import h2o

In [4]:
h2o.init(ip="127.0.0.1" , port = 5151, max_mem_size="14g")

Checking whether there is an H2O instance running at http://127.0.0.1:5151..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_191"; OpenJDK Runtime Environment (build 1.8.0_191-b12); OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)
  Starting server from /home/scv/.local/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpgdkdnlhj
  JVM stdout: /tmp/tmpgdkdnlhj/h2o_CORP_scv_started_from_python.out
  JVM stderr: /tmp/tmpgdkdnlhj/h2o_CORP_scv_started_from_python.err
  Server is running at http://127.0.0.1:5151
Connecting to H2O server at http://127.0.0.1:5151... successful.

--------------------------  ----------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.22.1.3
H2O cluster version age:    14 days, 13 hours and 22 minutes
H2O cluster name:           H2O_from_python_CORP_scv_c1wnu6
H2O cluster total nodes:    1
H2O cluster free memory:    10.67 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:5151
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.7.1 final
--------------------------  ----------------------------------------

In [243]:
import pandas as pd
data_path = "https://s3.amazonaws.com/challengeprivate/TH_data_challenge.tsv"
#data = pd.read_csv(data_path ,delimiter='\t',encoding='utf-8')
data = h2o.import_file(data_path, destination_frame = "airbnb_challenge_raw")

Parse progress: |█████████████████████████████████████████████████████████| 100%

ds,Counts
1.41748e+12,515
1.41756e+12,575
1.41765e+12,612
1.41774e+12,612
1.41782e+12,646
1.41791e+12,615
1.418e+12,614
1.41808e+12,645
1.41817e+12,645
1.41826e+12,619

In [231]:
data["ds_conv"]=data["ds_night"]/1000
time_df = data["ds_conv"].as_data_frame()

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [245]:
data_mx = h2o.H2OFrame(dd)
data.cbind(data_mx)

Parse progress: |█████████████████████████████████████████████████████████| 100%

dim_is_requested,ds_night,ds,id_listing_anon,id_user_anon,m_effective_daily_price,m_pricing_cleaning_fee,dim_market,dim_lat,dim_lng,dim_room_type,dim_person_capacity,dim_is_instant_bookable,m_checkouts,m_reviews,days_since_last_booking,cancel_policy,image_quality_score,m_total_overall_rating,m_professional_pictures,dim_has_wireless_internet,ds_night_day_of_week,ds_night_day_of_year,ds_checkin_gap,ds_checkout_gap,occ_occupancy_plus_minus_7_ds_night,occ_occupancy_plus_minus_14_ds_night,occ_occupancy_trailing_90_ds,m_minimum_nights,m_maximum_nights,price_booked_most_recent,p2_p3_click_through_score,p3_inquiry_score,listing_m_listing_views_2_6_ds_night_decay,general_market_m_unique_searchers_0_6_ds_night,general_market_m_contacts_0_6_ds_night,general_market_m_reservation_requests_0_6_ds_night,general_market_m_is_booked_0_6_ds_night,m_available_listings_ds_night,kdt_score,r_kdt_listing_views_0_6_avg_n100,r_kdt_n_active_n100,r_kdt_n_available_n100,r_kdt_m_effective_daily_price_n100_p50,r_kdt_m_effective_daily_price_available_n100_p50,r_kdt_m_effective_daily_price_booked_n100_p50,day,month,year
false,2015-01-06 00:00:00,2014-12-07 00:00:00,0AE0C7CC-A8A4-425F-9CCC-8B25DBB94F4D,DCC74708-D5C4-47B2-BC0C-97BF5ABFCD99,110,60,Los Angeles,34.0539,-118.363,Private room,2,false,24,19,320,4,0.830959,74,16,1,2,6,0,7,nan,nan,0,5,90,92,NULL,NULL,0.133333,788.143,241.429,41.4286,1,9840,1.31429,1.79592,57,48,79,75,98,6,1,2015
true,2015-01-21 00:00:00,2014-12-22 00:00:00,82FDDA07-6993-4CCA-8EE4-FC218D2C07C7,559D8981-0C75-4631-9582-A3B644BB5631,70,0,Los Angeles,34.1086,-118.209,Private room,2,true,105,55,3,3,0.967384,263,0,1,3,21,7,7,nan,nan,0.359551,1,1125,70,NULL,NULL,0.0666667,830.143,298,51.7143,1,9599,0.535714,2.69388,49,36,65,65,42,21,1,2015
false,2015-01-22 00:00:00,2014-12-23 00:00:00,69B2069D-CF8F-49A7-B559-9619DBE86A7D,EE7901A6-79D5-4D69-BACF-E4BCA976A66A,125,0,Los Angeles,34.0772,-118.206,Private room,1,false,0,0,nan,3,0.485231,0,0,1,4,22,7,7,nan,nan,0,1,1125,nan,NULL,NULL,0,810.143,281,51.7143,1,9514,0.714286,2.77551,49,35,65,66.5,46,22,1,2015
true,2015-02-02 00:00:00,2015-01-03 00:00:00,66BAADE6-9352-4D7C-B590-745899BD12B3,AF691F3D-525E-497C-B9C5-8750B097B04D,126.867,125,Los Angeles,34.0935,-118.247,Entire home/apt,6,false,0,0,nan,5,0.30931,0,0,1,1,33,7,7,0,0,0,3,1125,nan,NULL,NULL,0.733333,816.857,274.429,41.8571,1,9739,1.74468,4.57653,113,52,120,115,115,2,2,2015
true,2015-02-13 00:00:00,2015-01-14 00:00:00,01E3589E-A50A-494B-8CB2-9645B29476D0,6733A1D9-D485-4EA7-B8D2-883EE8A363B9,210.714,200,Los Angeles,34.0975,-118.364,Entire home/apt,5,false,9,1,34,5,0.335816,5,0,1,5,44,7,7,0,0,0.133333,2,1125,296,NULL,NULL,1,1347.43,419.429,78.8571,1,9114,1.2,4.87755,97,57,150,157.5,164.5,13,2,2015
false,2015-02-23 00:00:00,2015-01-24 00:00:00,B6222B7A-4D2D-4770-9B2F-9C2E711D953F,F61E18D6-5A67-43EC-9553-8BE04DD02B54,36,35,Los Angeles,33.9901,-117.91,Private room,3,false,6,2,33,5,0.727793,5,0,1,1,54,7,7,0,0,0.457447,1,1125,36,NULL,NULL,0.0666667,1103.57,384.571,58.8571,1,9093,0.666667,1.30612,84,71,60,60,40,23,2,2015
false,2015-03-03 00:00:00,2015-02-01 00:00:00,63974898-6E06-4CA9-B6A1-D315D28E64AA,4D33F8F6-A185-4866-8233-6DEE13D699E7,109,0,Los Angeles,34.0685,-118.347,Private room,2,false,0,0,nan,3,0.069733,0,0,0,2,62,7,7,0,0,0,1,1125,nan,NULL,NULL,0,935.143,259.571,36.2857,1,9706,0.5,0.367347,29,21,89,93.5,65,3,3,2015
true,2015-03-03 00:00:00,2015-02-01 00:00:00,E073FC50-8B2A-485F-8DAA-E66D0E936424,5EAAD1FA-DEBF-46DE-92AB-32C6A1DCB074,340,150,Los Angeles,34.1065,-118.301,Entire home/apt,8,false,19,8,5,5,0.85905,34,0,1,2,62,7,7,0,0.0833333,0.225352,1,365,389,NULL,NULL,1.06667,935.143,259.571,36.2857,1,9706,0.724138,0.897959,23,15,128,117.5,70,3,3,2015
false,2015-03-10 00:00:00,2015-02-08 00:00:00,FA43F4DB-19EA-4945-B05B-D2D41C495863,78A46A22-C320-46F3-8810-34812A662896,29,0,Los Angeles,34.2151,-118.535,Shared room,6,false,23,6,1,3,0.409632,20,0,1,2,69,7,7,0,0,0.41,1,1125,29,NULL,NULL,0.4,1083.86,274.714,44.4286,1,9647,0.814815,1.7551,20,18,35,35,29,10,3,2015
false,2015-03-11 00:00:00,2015-02-09 00:00:00,83114506-2EEB-4F1C-87D9-36CC26355AC7,D5CCFF5C-2846-4CFD-BD0D-EB11E6D2E9CE,1300,300,Los Angeles,34.104,-118.369,Entire home/apt,14,false,0,0,91,5,nan,0,0,1,3,70,7,7,0,0,0.0238095,2,29,1500,NULL,NULL,0.2,1104.71,261.286,46.1429,1,9556,0.692308,3.15646,87,71,350,372.5,124.5,11,3,2015

In [263]:
print(data_mx.shape)
h2o.export_file( data_mx, path= 'data_mx.csv')

(184279, 3)
Export File progress: |███████████████████████████████████████████████████| 100%

In [264]:
print(data.shape)
h2o.export_file( data, path= 'data_ymd_c0.csv')

(184279, 46)
Export File progress: |███████████████████████████████████████████████████| 100%

In [ ]:
###########################################################################

# Some basic information about the training/vali/test data                #

###########################################################################

print('# shapet', data.shape)
print("# column list", data.columns)
print("# column list", data.sample(10))
print("# info() " ,data.info())
print("# Statistical Summary", data.datadescribe().transpose())
print("# Target class distribution", data.groupby('Survived').size())
print("# check for missing values", data.isnull().any())
print("# count the number of NaN values in each column", data.isnull().sum())

In [ ]:
gbm_v1.plot()

In [16]:
from sklearn import preprocessing

def normalize(df):
    """ Standardization of numeric fields, where all values will have mean of zero 
      and standard deviation of one. (z-score)

      Args:
        dataset: A `Pandas.Dataframe` 
    """
    x = df.values #returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    df_normalize= pd.DataFrame(x_scaled)
    #h2o_obj = h2o.H2OFrame(df_normalize)
    return df_normalize

data["m_reviews_new"] = 3*data["m_reviews"]

tempdf = data["ds"].as_data_frame()
test_ = normalize(tempdf)
data['newcol'] = h2o.H2OFrame(test_, column_names=["newcol"])
import numpy as np
np.log(2+110.12)

###########################################################################

# Drop multi collinear levels and no longer required                      #

###########################################################################

dropColumns = ['somevalues']

trainData = trainData.drop(columns=dropColumns)

In [ ]:
# Filter to relevant columns
relevant_cols = [ 'dim_is_requested',
'ds', 
'id_listing_anon', 
'm_effective_daily_price',
'm_pricing_cleaning_fee', 
#needs cleaning  'dim_market', 
#use kdt instead 'dim_lat', 
#use kdt instead 'dim_lng', 
#needs process  'dim_room_type',
'dim_person_capacity', #num
'dim_is_instant_bookable', #bool
'm_checkouts',  #num
'm_reviews', #num
'days_since_last_booking', #num
'cancel_policy', #cat 3-9
'image_quality_score', #num
'm_total_overall_rating', #num
'm_professional_pictures', #num
'dim_has_wireless_internet', #bool
'ds_night_day_of_week', #bool
'ds_night_day_of_year', #bool
'ds_checkin_gap', #num 0-6
'ds_checkout_gap', #num 0-6
'occ_occupancy_plus_minus_7_ds_night', #num 
'occ_occupancy_plus_minus_14_ds_night', #num 
'occ_occupancy_trailing_90_ds', #num 
'm_minimum_nights', #num 
#'m_maximum_nights', 
'price_booked_most_recent', #num 
'p2_p3_click_through_score', #num 
'p3_inquiry_score',  #num 
'listing_m_listing_views_2_6_ds_night_decay', #num 
#'general_market_m_unique_searchers_0_6_ds_night',#num 
#'general_market_m_contacts_0_6_ds_night',#num 
'general_market_m_reservation_requests_0_6_ds_night',#num 
'general_market_m_is_booked_0_6_ds_night',
'm_available_listings_ds_night',
'kdt_score', 
'r_kdt_listing_views_0_6_avg_n100', 
'r_kdt_n_active_n100', 
'r_kdt_n_available_n100', 
'r_kdt_m_effective_daily_price_n100_p50', 
'r_kdt_m_effective_daily_price_available_n100_p50',
'r_kdt_m_effective_daily_price_booked_n100_p50'

]

data = data[relevant_cols]



df_train, df_valid, df_test = au_data_split(data, 0.7, 0.15)

target = "dim_is_requested"
predictors = list(set(df_train.col_names) - set([target]))


# Train initial GBM model
from h2o.estimators import H2OGradientBoostingEstimator

gbm_model = H2OGradientBoostingEstimator(seed = 1234, model_id = "gbm_baseline.hex", 
                                            ntrees = 500, 
                                            stopping_rounds = 10, score_tree_interval = 5, # early stopping
                                            stopping_metric = "AUC",
                                            nfolds = 5 
                                           )
gbm_model.train(x = predictors, y = target, training_frame = df_train,  validation_frame=df_test)


print("AUC on CV: " + str(round(gbm_baseline.auc(xval = True), 3))) #This was done for a random split, same size. 


gbm_baseline.varimp()


# Generate predictions on a test set 
pred = gbm_model.predict(df_test)

# Eval performance on the test data
perf_base_test = gbm_model.model_performance(df_test)

In [5]:
h2o.cluster().shutdown(prompt=True)

Are you sure you want to shutdown the H2O instance running at http://127.0.0.1:5151 (Y/N)? Y
H2O session _sid_8c1e closed.